@font-face {
  font-family: myFirstFont;
  src: url("Norse-Bold.otf");
}

div {
  /* border: 1px solid; */
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.left_container {
  position: relative;
  color: white;
  width: 40vw;
  height: 100vh;
  background-image: url("P0SKdb6gmbKO9B7CqqDj_2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  flex-shrink: 2;
}

.right_container {
  display: flex;
  flex-direction: column;
  width: 60vw;
  background-color: rgb(220, 255, 252);
  border-left: 8px solid white;
}

.odin_logo {
  font-size: calc(3rem + 2vw);

  font-family: myFirstFont;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 120px;
  width: inherit;
  background-color: rgba(0, 0, 0, 0.32);
  top: 20%;
}

.up_container,
.bottom_container {
  height: 15vh;
  justify-content: center;
  box-shadow: 2px 5px 15px rgb(246, 255, 252);
  flex-shrink: 2;
}

.up_container {
  background: linear-gradient(180deg, white, rgb(246, 255, 252));
}
.bottom_container {
  background: linear-gradient(0deg,white, rgb(246, 255, 252));
}

.middle_container {
  height: 70vh;
  box-shadow: 2px 5px 15px rgb(246, 255, 252);
  flex-shrink: 1;
  overflow: scroll;
}

.up_container,
.bottom_container,
.middle_container {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 2rem;
}

span.small_font {
  font-size: 1.6rem;
  margin-left: 2ch;
}
.odin_logo::before {
  content: "";
  width: 100px;
  height: 100px;
  color: red;
  background-image: url("odin-lined.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

li {
  display: flex;
  flex-direction: column;
}

label,
input {
  padding: 0.1rem;
  margin: 0.1rem 0.3rem 0.1rem;
}

input {
  width: calc(24ch + 3vw);
  margin-bottom: 2em;
  border-radius: 5px;
  border: 1px solid gray;
  padding-left: 1em;
  padding-bottom: .3em;
}

.input_group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

button {
  padding: 0.5em;
  background-color: rgb(246, 260, 252);
  border-radius: 15px;
  margin-left: 3em;
  margin-bottom: 2em;
}
